name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH & Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e
            echo "Connected to server"

            docker ps

            docker pull ssanyam2004/portfolio-backend:latest
            docker pull ssanyam2004/portfolio-frontend:latest

            docker stop backend || true
            docker stop frontend || true

            docker rm backend || true
            docker rm frontend || true

            docker run -d --name backend -p 4000:4000 ssanyam2004/portfolio-backend:latest
            docker run -d --name frontend -p 80:80 ssanyam2004/portfolio-frontend:latest

            docker ps
