name: Deploy Portfolio

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # ---------- BACKEND ----------
      - name: Build Backend Docker Image
        run: |
          docker build -t portfolio-backend ./backend

      # ---------- FRONTEND ----------
      - name: Build Frontend Docker Image
        run: |
          docker build -t portfolio-frontend ./frontend

      # ---------- DEPLOY TO SERVER ----------
      - name: Deploy on Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            docker stop frontend || true
            docker stop backend || true
            docker rm frontend || true
            docker rm backend || true

            docker run -d --name backend -p 5000:5000 portfolio-backend
            docker run -d --name frontend -p 80:80 portfolio-frontend

